{% load static %}
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
            aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        
        <a style="display: flex; justify-content: center;"href="{% if request.user.is_authenticated %} {% url 'home_page' %} {% else %} {% url 'welcome' %} {% endif %}">
            <img src="https://ibb.co/NnTJD0r/logo.png" width="50%" height="50%" alt="..." >
        </a> 
        

        <!-- User (xs) -->
        <div class="navbar-user d-md-none">

            <!-- Dropdown -->
            <div class="dropdown">

                <!-- Toggle -->
                <a id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-sm avatar-online">
                        {% if request.user.is_authenticated %}
                        <img src="{{ request.user.userprofile.display_picture.url }}" class="avatar-img rounded-circle"
                            alt="...">
                        {% else %}
                        <img src="http://127.0.0.1:8000/media/images/default-display.jpg" class="avatar-img rounded-circle"
                            alt="...">
                        {% endif %}
                    </div>
                </a>

            </div>

        </div>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidebarCollapse">

            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-rounded form-control-prepended"
                        placeholder="Search" aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fe fe-search"></span>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Navigation -->
            
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home_page' %}">
                        <i class="fe fe-home"></i><span  style="font-weight: 800; text-decoration: underline;">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'edit_profile' %}">
                        <i class="fe fe-user"></i><span  style="font-weight: 800; text-decoration: underline;">My Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'network' %}">
                        <i class="fe fe-grid"></i><span  style="font-weight: 800; text-decoration: underline;">Global Network</span>
                    </a>
                </li>

                {% if request.user.userprofile.privatenetwork_set.all.count > 0 %}

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#sidebarComponents" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarComponents">
                      <i class="fe fe-git-branch"></i> <span style="font-weight: 800; text-decoration: underline;"> My Private Networks </span>
                    </a>
                    {% for network in request.user.userprofile.privatenetwork_set.all %}
                    <div class="collapse" id="sidebarComponents" style="">
                      <ul class="nav nav-sm flex-column">
                        <li>
                          <a href="{% url 'private_network' network.referral_code %}" class="nav-link">
                            {{network.title}}
                          </a>
                        </li>
                      </ul>
                    </div>
                    {% endfor %}
                </li>
                {% endif %}
                
                {% else %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'login' %}">
                        <i class="fe fe-home"></i><span  style="font-weight: 800; text-decoration: underline;">Sign In</span>
                    </a>
                </li>
                {% endif %}
            </ul>

            <!-- Divider -->
            {% if request.user.is_authenticated %}
            <hr class="navbar-divider my-3">

            <!-- Heading 
            <h6 class="navbar-heading">
                Documentation
            </h6>-->

            
            <!-- Push content down -->
            <div class="mt-auto"></div>




            <!-- User (md) -->
            <div class="navbar-user d-none d-md-flex" id="sidebarUser">

                <!-- Icon -->

                <!-- Dropup -->

                <div class="dropup">

                    <!-- Toggle -->
                    <a id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-sm avatar-online">
                            <img src="{{ request.user.userprofile.display_picture.url }}"" class="avatar-img rounded-circle"
                                alt="...">
                        </div>
                    </a>

                    <!-- Menu -->
                    <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
                        <a href="{% url 'edit_profile' %}" class="dropdown-item">Profile</a>
                        <hr class="dropdown-divider">
                        <a href="{% url 'login' %}" class="dropdown-item">Logout</a>
                    </div>

                </div>
                


            </div>
            {% endif %}


        </div> <!-- / .navbar-collapse -->

    </div>
</nav>